.centerInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body {
  background-image: linear-gradient(to top, #BBCE8A, #F9F9F9);
}
html body .container {
  width: 90%;
  margin: auto;
}
.hidden {
  display: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  font-size: 1.3rem;
}
@media (max-width: 500px) {
  nav {
    flex-direction: row-reverse;
  }
}
nav .navFunctional {
  width: 50%;
}
nav .navFunctional .dropDownButton {
  display: none;
}
nav .navFunctional .dropDownButton .hamburgerLine {
  width: 36px;
  height: 6px;
  background-color: black;
  margin: 6px 0;
}
@media (max-width: 500px) {
  nav .navFunctional .dropDownButton {
    display: initial;
  }
}
nav .navFunctional .links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav .navFunctional .links {
    flex-direction: column;
    width: initial;
    display: none;
  }
}
nav .navFunctional .links a {
  text-decoration: none;
  font-weight: 900;
  color: #D16014;
  font-family: 'Montserrat', sans-serif;
}
nav img {
  border: solid #313715 2px;
}
nav .show {
  display: block;
}
.main {
  display: flex;
  justify-content: space-between;
  height: 400px;
  padding-top: 50px;
}
@media (max-width: 500px) {
  .main {
    flex-direction: column-reverse;
  }
}
.main .login {
  color: #F9F9F9;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
  background-color: #939F5C;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .main .login {
    width: 95%;
    margin: auto;
  }
}
.main .login h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: #D16014;
  padding-top: 20px;
}
.main .login p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}
.main .content {
  color: #F9F9F9;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  background-color: #313715;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .main .content {
    width: 95%;
    margin: auto;
  }
}
.main .content .stats {
  display: flex;
  justify-content: space-around;
}
.main .content .stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.main .content .stats .stat .mainStat {
  font-size: 3.4rem;
}
.images {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .images {
    flex-direction: column;
  }
}
.images img {
  height: 300px;
  width: 33%;
  object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .images img {
    width: 100%;
    height: initial;
    padding-top: 5px;
  }
}
