.centerInContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body {
  background-image: linear-gradient(to top, #BBCE8A, #F9F9F9);
}
html body .container {
  width: 90%;
  margin: auto;
}
.hidden {
  display: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  font-size: 1.3rem;
}
@media (max-width: 800px) {
  nav {
    flex-direction: row-reverse;
  }
}
nav .navFunctional {
  width: 50%;
}
nav .navFunctional .dropDownButton {
  display: none;
}
nav .navFunctional .dropDownButton .hamburgerLine {
  width: 36px;
  height: 6px;
  background-color: black;
  margin: 6px 0;
}
@media (max-width: 800px) {
  nav .navFunctional .dropDownButton {
    display: initial;
  }
}
nav .navFunctional .links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 800px) {
  nav .navFunctional .links {
    z-index: 2;
    position: absolute;
    flex-direction: column;
    width: initial;
    display: none;
  }
}
nav .navFunctional .links a {
  text-decoration: none;
  font-weight: 900;
  color: #D16014;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 800px) {
  nav .navFunctional .links a {
    background-color: #BBCE8A;
    padding: 3px;
  }
}
nav img {
  border: solid #313715 2px;
}
nav .show {
  display: flex !important;
}
.body {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 800px) {
  .body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    min-height: 750px;
  }
}
.body .rolesList {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .body .rolesList {
    width: 75%;
    height: initial;
  }
}
.body .rolesList button {
  background-color: transparent;
  font-size: 1.5rem;
  border: 1px solid #313715;
  width: 260px;
  margin: 5px auto 0px auto;
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding: 0px;
}
@media (max-width: 800px) {
  .body .rolesList button {
    font-size: 1.5rem;
    background-image: linear-gradient(#F9F9F9, #BBCE8A);
  }
}
.body .rolesList .dummy {
  border: 0px;
  color: #313715;
  background-image: initial;
  font-weight: 600;
}
.body .profileImages {
  width: 33%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
.body .profileImages img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 10px #313715;
  margin-top: 1px;
}
@media (max-width: 800px) {
  .body .profileImages img {
    max-height: 375px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}
.body .profileImages .notCircle {
  border-radius: initial;
  box-shadow: 0px 0px 0px;
}
@media (max-width: 800px) {
  .body .profileImages {
    width: 75%;
    height: initial;
    margin-top: 30px;
  }
}
.body .description {
  width: 33%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
.body .description .profile {
  text-align: center;
  width: 100%;
}
.body .description .profile h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #F9F9F9;
  text-shadow: -1px 0 #313715, 0 1px #313715, 1px 0 #313715, 0 -1px #313715;
}
.body .description .profile p {
  font-size: 1.1rem;
}
@media (max-width: 800px) {
  .body .description {
    width: 75%;
    height: initial;
    margin-top: 30px;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  height: 400px;
  box-sizing: border-box;
  padding-top: 50px;
}
@media (max-width: 500px) {
  .main {
    flex-direction: column-reverse;
    padding-top: 55px;
  }
}
@media (max-width: 800px) {
  .main {
    height: initial;
  }
}
.main .login {
  color: #313715;
  box-shadow: 10px 10px 20px #313715;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
  background-color: #939F5C;
  border-radius: 15px;
}
@media (max-width: 800px) {
  .main .login {
    width: 70%;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .main .login {
    width: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
  }
}
.main .login h2 {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 5px black;
  font-size: 2.4rem;
  color: #BBCE8A;
  padding-top: 20px;
  font-weight: 900;
  text-align: right;
}
.main .login p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  width: 95%;
}
@media (max-width: 800px) {
  .main .login p {
    margin-top: 10px;
  }
}
.main .login ul {
  list-style-type: circle;
  padding-left: 20px;
}
.main .login a {
  color: #313715;
  text-decoration: none;
  font-size: 1.7rem;
  margin: 0 auto 0 auto;
  font-weight: 800;
  padding-top: 8px;
  text-align: center;
  width: 200px;
  height: 35px;
  background: #D16014;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #313715;
}
@media (max-width: 800px) {
  .main .login a {
    margin: 10px auto;
  }
}
.main .content {
  color: #F9F9F9;
  box-shadow: 10px 10px 20px #313715;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  background-color: #313715;
  border-radius: 15px;
}
@media (max-width: 800px) {
  .main .content {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .main .content {
    width: 100%;
    margin: 20px auto 0px auto;
    padding: 0px;
    align-items: center;
  }
}
.main .content .stats {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 800px) {
  .main .content .stats {
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .main .content .stats {
    flex-direction: row;
    padding-top: 20px;
    width: 95%;
  }
}
.main .content .stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.main .content .stats .stat .mainStat {
  font-size: 3.4rem;
}
@media (max-width: 800px) {
  .main .content .stats .stat .mainStat {
    font-size: 2rem;
  }
}
.main .content .stats .stat .subStat {
  color: #D16014;
}
.main .content p {
  width: 95%;
  margin: 30px auto 0 auto;
  font-family: 'Nunito', sans-serif;
}
@media (max-width: 500px) {
  .main .content p {
    margin: 10px auto 0px auto;
  }
}
@media (max-width: 500px) {
  .main .content .hook {
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .main .content .hookScript {
    display: none;
  }
}
.images {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .images {
    flex-direction: column;
  }
}
.images img {
  height: 300px;
  width: 33%;
  object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .images img {
    width: 100%;
    height: initial;
    padding-top: 5px;
  }
}
