.body {
    //height: 100vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    .rolesList{
        width: 33%

    }
    .profileImages {
        width: 33%;
        display: column;
        img {
            justify-items: center;
            width: 100%;
            clip-path: circle(50% at 50% 50%);
            object-fit: contain;
        }
    }
    .description {
        width: 33%;

    }
}