.images {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    img {
        height: 300px;
        width: 33%;
        object-fit: contain;
        border-radius: 10px;
    }
}